*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# ignore [ce]tags files
tags

# metals
.metals/
.bsp/
.bloop/
metals.sbt
sbt-launch.jar
.scala-build

# npm
node_modules/

#mill
out/
.envrc